* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* ----------------------ヘッダー--------------------- */
header {
  width: 100vw;
  height: 80px;
  /* left: 0; */
  margin: 0 auto;
  /* background-color: white; */

  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* ---------------------airbnbアイコン------------------- */
  .header-left {
    padding-left: 100px;
  }
  .header-left > a, .fa-airbnb {
    /* font-family: 'Coda Caption', sans-serif; */
    font-size: 30px;
  }

  /* ---------------------体験------------------------- */
  .center {
    padding-left: 100px;
    list-style: none;
    display: flex;
  }

  .center > li {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .center > li:hover {
    border-bottom: 1px solid black;
  }
/* -------------------------------検索------------------------ */
.search_box {
  display: none;
  margin: 20px 0 0 420px;

  /* display: inline-block;
  position: relative; */
}

.search_box > input:hover {
  box-shadow: 5px 5px 5px gray;
}

.search_box > input[type="search"]:hover {
  cursor: pointer;
  background-color: rgb(209, 198, 198);
}

.search_box::after {
  background-color: pink;
  font-family: "Font Awesome 5 Solid";
  content: "\f77c";
  /* content: ""; */
  width: 16px;
  height: 16px;
  /* background: url(./img/search.png) no-repeat center / auto 100%; */
  display: inline-block; 
  position: absolute;
  top: 2px;
  right: 10px;
} 

.search_box > input {
  width: 800px;
  height: 60px;
  border-radius: 40px/40px;
  /* margin: 0 auto; */
}

/* -------------------------ホストになる ------------------*/
.nav {
  width: 300px;
  padding-right: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-p {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px/10px;
}

.nav > .nav-p:hover {
  cursor: pointer;
  padding: 5px 10px;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: gray;
}

.center-button {
  border: none;
  background: transparent;
}

.nav .fas {
  font-size: 20px;
}

nav .right-button {
  width: 80px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
 
}

.right-icon {
  margin-left: 10px;
}
/* ------------------------メイン--------------------- */
.main1 {
  /* width: 1000px; */
  /* background: url("../img/photo004.jpg") center top / cover no-repeat fixed; */
  background: url("../img/london.jpg") center top / cover no-repeat fixed;
  /* background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh; 
  /* padding: 200px 100px;

  /* display: flex;
  flex-direction: column;
  align-content: center; */
}

.main_top {
  padding: 80px 20px 50px 80px;
}

.main2 {
  width: 435px;
  line-height: 70px;
  font-size: 4em;
  /* overflow-wrap: normal; 
  word-wrap: normal; */
}

.main3 {
  font-size: 20px;
  padding: 10px 0;
}

/* -------------------spanタグ---------------------- */
/* .main1 > .main-span {
  display: block;
  background-color: black;
  width: 180px;
  height: 70px;
  text-align: center;
  border-radius: 15%;
} */

.main4 {
  background-color: black;
  width: 140px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  border-radius: 8%
}

.main4 > a {
  color: white;
  font-size: 14px;
  /* padding: 10px; */
}

/* --------------------周辺エリアを探索-------------- */
.section2 {
  padding: 50px 20px 50px 40px;
  margin-bottom: 40px;
}

.section2 > h2 {
  font-size: 32px;
  padding-bottom: 16px;
}

.photo > img {
  border-radius: 10%;
}

.photo0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.photo {
  padding: 0 130px 25px 0;

  display: flex;
}

.section2-photo {
  padding-left: 20px;
  padding-top: 10px;
}

.section2-photo > h3, .stay-p {
  font-size: 16px;
  font-weight: bold;
}


.section-stay {
  display: flex;
}

.stay > img {
  border-radius: 10px;
  padding: 5px;
}

/* --------------------section4------------------------- */
/* .section4 {
  width: 1100px;
  background-image: url("../img/section4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding: 100px 100px;
  border-radius: 10px/20px;
  margin: 0 auto;
} */
/* .section4 {
  margin: 0 auto;
} */
.section4_img {
  display: block;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;

  position: relative;
}

.section_sub {
  position: absolute;
  top: 1200px;
  left: 170px;
}

.section4 > h1 {
  width: 440px;
  line-height: 70px;
  font-size: 60px;
  /* overflow-wrap: normal; */
  /* word-wrap: normal; */
}

.section4 > .main3 {
  width: 440px;
  font-size: 20px;
  padding: 10px 0;
}

/* --------------------section5------------------------- */
.section5 {
  padding: 50px 20px 50px 40px;
}

.section5 > h2 {
  font-size: 32px;
  padding-bottom: 16px;
}

.section5 > p {
  font-size: 20px;
  padding: 0 0 10px;
}

.section-search {
  display: flex;
}

.search3 {
  margin: 0 35px;
}

.search > img {
  width: 450px;
  border-radius: 10px/10px;
}

.search-p {
  font-size: 14px;
}
/* ---------------------- フッター --------------------*/
footer {
  background-color: rgb(226, 213, 215);
  padding: 40px 80px 0;
}

.airbnb0 {
  display: flex;
}

.footer {
  /* background-color: chocolate; */
  padding: 0 10px;
}

.footer > h4 {
  font-size: 12px;
}

.footer-airbnb {
  width: 310px;
  height: 350px;
  list-style: none;
  /* background-color: blueviolet; */
  /* border-bottom: dotted 2px #393b3d; */
}

.airbnb1 {
  border-top: 1px solid black;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.footer-airbnb > li {
  font-size:14px;
  margin-top: 16px;
}

.airbnb-left {
  display: flex;
}

.airbnb-left2 {
  display: flex;
  padding-left: 46px;
}

.airbnb-left2 > li {
  padding-right: 30px;
  /* padding-left: 46px; */
}

/* ------------------アイコン-------------------- */
.airbnb-right > a > .fab {
  font-size: 20px;
}

.airbnb-right > a {
  padding: 15px;
}

/* ----------------レスポンシブデザイン------------------------ */
@media (max-width:780px) {
  /* ---------header------- --> */
  .header-left {
    display: none;
  }
  
  .center {
    display: none;
  }

  .nav {
    display: none;
  }

  /* 検索窓 */
  .search_box {
    margin: 0;
  }

  /* -------------------メイン---------------------- */
  .main1 {
    width: 100%;
  }

  .section4 {
    display: flex;
    flex-direction: column-reverse;
  }

  .section4_img {
    width: 80%;
    position:static;
  }


  .section_sub {
    width: 80%;
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 100px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    position:static;
  }

  .main2 {
    margin: 0 auto;
    font-size: 1.5em;
  }
  .main3 {
    text-align: center;
    font-size: 1em;
    padding: 0;
  }
  .main4 {
    margin: 0 auto;
    background-color: white;
  }

  .main4 > a {
    color: black;
  }
/* -----------------ホスティングを始めよう */
  /* .section4_flex {
    display: flex;
    flex-direction: column;
  } */







}